<style>
  .titulo {
    text-align: center;
    font-size: 40px;
    color: #418fde;
    font-weight: 500s;
  }
  
  span {
    font-size: 20px;
  }
  
  button {
    width: 200px;
    height: 61px;
    background-color: #418fde;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    border: none;
  }
</style>
<div class="container bg-light my-5">
  <div class="row">
    <div class="col-12 titulo">
      Prueba Farmatodo Seo <br>
      <br>
      <a href="/producto"><button>ir al detalle del producto</button></a>
      <br>
      <br>
      <span>
        Recuerda que puedes modificar todo el codigo con el fin de obtener el mejor SEO
      </span>
    </div>
  </div>
</div>